<h2>Personnes</h2>

<table class="table">
  <thead><tr><th>Identifiant</th><th>Prenom</th><th>Nom</th><th>Mail</th><th></th></tr></thead>
  <tbody>
  <tr *ngFor="let person of people">
    <td>{{person.id}}</td>
    <td>{{person.firstName}}</td>
    <td>{{person.familyName}}</td>
    <td><a href="mailto:{{person.mail}}">{{person.mail}}</a></td>
    <td>
      <a routerLink={{person.id}} routerLinkActive="active" class="item">
        Détails
      </a>
    </td>
  </tr>
  </tbody>
</table>

<a routerLink="add"><button>Nouvelle personne</button></a>